# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out

####### Latex ####### 
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lox
*.lox.orig
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.orig
*.txss
*.tks

/**/Report/*.pdf
/**/Report/**/*.pdf

#### sdk
*.d
*.mk
*.log
*.pdom
*.index
*.prefs
*.resources